img{
    width: auto;
    left: auto;
    top: auto;
    position: absolute;
    opacity: 0.2;
    /* object-position: 50% 50%; */
}


#connexion{
    margin: auto;
    /* display: flex;
    align-items: center; */
    width: 50%;
    top: 200px;
    border: 3px solid #263238 ;
    padding: 10px;
    text-align: center;
    font-family : Georgia;
}

