*{
    font-family:Arial, sans-serif
}

header {
    position : sticky;
    top: 0;
}

#content {
    padding-bottom: 50px;
    background-color: rgb(57, 54, 54);
}


#liste_films{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 8px;
}
#bouton_film{
    background-color : transparent;
    cursor: pointer;
    border: none;

}

#bouton_film:hover{
    box-shadow: 10px 5px 5px black;
    transition: 500ms;
}

#un_film {
    margin: 8px; 
}

#content h1{
    color: lightgrey;
}

#content h2 {
    color: lightgrey;
}

body {
    height  :100%;
}

