*{
    font-family:Arial, sans-serif
}

#menu_haut{
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    width: 100%;
    top: 0px; left: 0px;
    align-items: center;
    position : sticky;
}

#bouton{

    background-color: #FFD700;
    border: none;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#bouton:hover {
    background-color: #a08906;
    transition : 500ms;
}

#bouton_a{
    border: none;
    background-color: transparent;
    color: lightgrey;

    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}


#bouton_accueil{
    font-size:250% ;
    font-family: cursive;
}


