*{
    font-family:Arial, sans-serif
}

div#global{
    background: #232323;
}

h1 {
   color : lightgray;
}

#liste_films{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 8px;
}

#bouton_film{
    background-color : transparent;
    cursor: pointer;
    border: none;

}

#bouton_film:hover{
    box-shadow: 10px 5px 5px black;
    transition: 500ms;
}

#un_film {
    margin: 8px; 
}