*{
    font-family:Arial, sans-serif
}

html {
    background-color:rgb(57, 54, 54);
}

#page_recherche_ami {
    background-color:rgb(57, 54, 54);
    padding : 20px;
}

#page_recherche_ami h1 {
    color:lightgray;
}

header {
    position : sticky;
    top: 0;
}

#bouton_ami{
    background-color: #FFD700;
    border: none;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#bouton_ami:hover {
    background-color: #a08906;
    transition : 500ms;
}


footer {
    position : absolute;
    bottom : 0;
    width : 100%;
}

